@page "/usuarios/details"

@using Microsoft.EntityFrameworkCore
@using Escalada.API.Model
@inject IDbContextFactory<Escalada.API.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    @if (usuario is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Nome</dt>
            <dd class="col-sm-10">@usuario.Nome</dd>
            <dt class="col-sm-2">Email</dt>
            <dd class="col-sm-10">@usuario.Email</dd>
        </dl>
        <div>
            <a href="@($"/usuarios/edit?id={usuario.Id}")">Edit</a> |
            <a href="@($"/usuarios")">Back to List</a>
        </div>
    }
</div>

@code {
    Usuario? usuario;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        usuario = await context.Usuario.FirstOrDefaultAsync(m => m.Id == Id);

        if (usuario is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
